@import "~bootstrap/scss/bootstrap";

body,
html {
  font-family: "Arima", cursive;
  background-color: lightgreen;
  font-weight: 600;
}

.row {
  margin-top: 20px;
}

.card-header {
  background-color: rgba(0, 128, 0, 0.637);
}

.card-body {
  background-color: rgba(255, 217, 0, 0.61);
}


.col-5:hover {
  box-shadow: 10px 10px 25px 0px #3c3c3c;
}

.col-6:hover {
  box-shadow: 10px 10px 25px 0px #3c3c3c;
}

.animal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &_content {
    display: block;
    &_type {
      font-size: 20px;
      letter-spacing: 1px;
      margin-right: 10px;
      color: green
    }
    &_weight {
      font-size: 20px;
      color: rgb(52, 197, 71);
      margin-right: 10px;
    }
  }
  &_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    button {
      margin-left: 5px;
      border: 1.5px solid black;
    }
  }
}

.card-body button {
  border: 1.5px solid black;
  background-color: white;
  font-weight: 800;
}



.modal {
  display: block;
  background-color: #0000005f;
  
  &-header {
    background-color: rgba(0, 128, 0, 0.637);
  }
  &-footer {
    background-color: rgba(0, 128, 0, 0.637);
  }
}

.msg-bin {
  position: fixed;
  top: 20px;
  right: 20px;
  .toast {
    display: block;
    margin: 10px;
    background-color: rgba(255, 217, 0, 0.61);
    box-shadow: 10px 10px 25px 0px #3c3c3c;
  }
}
