@import "~bootstrap/scss/bootstrap";

body,
html {
  font-family: "Arima", cursive;
  background-color: lightgreen;
}

.animal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &_content {
    display: block;
    &_type {
      font-size: 20px;
      letter-spacing: 1px;
      margin-right: 10px;
    }
    &_weight {
      font-size: 20px;
      color: rgb(22, 224, 49);
      margin-right: 10px;
    }
  }
  &_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      margin-left: 5px;
    }
  }
}


.modal {
  display: block;
  background-color: #0000005f;
}

.msg-bin {
  position: fixed;
  top: 20px;
  right: 20px;
  .toast {
    display: block;
    margin: 10px;
  }
}
